<h1>Help</h1>

<h2>Markup</h2>
The markup is pretty like textile. But not every functionality from textile is implemented yet.
<h3>Headings</h3>
<p>Use <b>h1. - h6.</b> for headings. Use it like:.</p>
<p><i>h2. This is my heading in second order</i></p>


<h3>Lists</h3>
<p>A simple list is created if you put an single <b>*</b> as first symbol in a line.
<p><i>* option1<br/>* option2</p>

<h3>Font-Style</h3>
<p>You can use <b>*</b> for bold and <b>_</b> for italic.</p>

<p>This is my text and *this is bold* and _this is italic_.</p>