
<h1>Impressum</h1>

<h2>Herausgeber</h2>
<p>
Klaus Breyer<br />
Am Mühlberg 51<br />
74653 Ingelfingen<br />
E-Mail: kb-@-zerfall.com
</p>
<p>
<strong>Haftungshinweis:</strong> Trotz sorgfältiger inhaltlicher Kontrolle wird keine Haftung für die Inhalte externer Links übernommen. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

