<div id="contentindex">
  <h1>What is Textseed?</h1>
  <%= image_tag "what.png" %>
  <p>Textseed is a more organic way to write your documents! <b>Let your documents and thoughts grow through other's people's contributions, just as flowers grow when receiving sun and water.</b></p>
  <p>In the end you won't get what you expected– but more often than not will you get something that is much more likely to be perfect. Because: <b>No one is as smart as all of us!</b></p>


  <h1>Why use Textseed?</h1>
  <%= image_tag "why.png" %>
  <p>
    Because it's <b>fun</b> to use! It's <b>free</b>! And compared to usual version controlled systems you are able to <b>keep track of everything at once</b>.
  </p>
  <p>
    Textseed is a service for friends and partners who want to work on one single document for school or business.
  </p>
  <p>
    It's also a tool for sharing your thoughts and texts with others.
    Because everybody can participate it can help getting new inspiration by letting the document grow in an more organic way.
  </p>
  <p>
    You can use a set of markup item to style your document. Additionally you can choose whether you want your document to be private or public. 
  </p>

  <h1>How does it work?</h1>
  <%= image_tag "how.png" %>
  <p>
    <b>
    Every user gets a unique color for the whole document</b>. Words are written in the respective user's color. Added and deleted words are emphasized in a special way.
  </p>

  <p>
    &nbsp;
  </p>

  <h1>Tutorial</h1>
  <p>
    If you need help getting started, we recommend reading the tutorial <%= link_to "with seven simple steps to get it rollin'!", "/tutorial" %>
  </p>
</div>